.root {
  max-width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}
.link {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  opacity: 0.65;
  text-align: center;
  &:hover {
    color: #4361ee;
    opacity: 1;
  }
}
.link_box {
  display: flex;
  margin: 25px;
  justify-content: end;
}
